page-prueba {
    .grupo-img-mini{
        width: 100%;
        border-radius: 3px;
    }
    .row-minis{
        padding: 3px 3px;

    }
    .panel-lateral{
        width: 302.5px;
        // border: 1px solid blue;
        // display: none;
    }
    .grid-zonas{
        flex-direction: row;
        // width:75%;
        margin-left:0px;
    }
    .nombre-zona{
        font-size: 1.2em;
    }
}
