<!--
  Generated template for the PruebaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <pedidos-navbar (cambioIp)="settearIpLocal($event)"></pedidos-navbar>

</ion-header>

<!-- ESTA PAGE ES EL NUEVO HOME -->
<ion-content padding>

<wrapper-panel-carrito>

    <ion-grid class="grid-zonas">
      <ion-row fixed>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>{{ 'FILTER_F1' | translate }}</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FILTER_F2' | translate }}</ion-label>
            <ion-select [(ngModel)]="horario">
              <ion-option *ngFor="let horarioitem of gruposSrv.horarios" value="{{horarioitem.idhorarios}}">{{horarioitem.horario}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ 'FILTER_F3' | translate }}</ion-label>
            <ion-select [(ngModel)]="zona" >
              <ion-option *ngFor="let zonaitem of gruposSrv.zonasbase" value="{{zonaitem.idzona}}">{{zonaitem.zona}}</ion-option>
            </ion-select>
          </ion-item>
        
          <ion-item>
            <ion-label><button type="button" name="button" (click)="buscar()">Search</button></ion-label>

        </ion-item>
        <ion-item>
          <ion-label><button type="button" name="button" (click)="cancelar()">Cancel</button></ion-label>

      </ion-item>
        </ion-col>

      </ion-row>
      <ion-row style="flex-grow:2;">

        <ion-col *ngFor="let item of gruposSrv.grupos" col-6>
          <ion-row>
              <ion-col style="text-align:center" (click)="irAGaleria(item)" col-12>
                  <ion-row class="row-minis">
                    <ion-col col-6 *ngFor="let imagenGrupo of item.fotos">
                      <img class="grupo-img-mini" src="{{imagenGrupo}}" alt="">
                    </ion-col>
                    <!-- <ion-col class="nombre-zona" col-12 style="text-align:left;">{{item.zona}}
                      , id : {{item.zona}}
                    </ion-col>-->
                  </ion-row>
               
              </ion-col>
              <!-- <ion-col style="text-align:center" col-12>
                {{item.nombre}}
              </ion-col> -->
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

</wrapper-panel-carrito>

</ion-content>
