<!--
  Generated template for the ModalCorreoEntregaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MODAL_MAIL_1' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
   <ion-item-group *ngFor="let item of listadecorreos">
      <ion-item>
        <ion-label floating>{{ 'MODAL_MAIL_2' | translate }}</ion-label>
        <ion-input [(ngModel)]="item.correo" type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'MODAL_MAIL_3' | translate }}</ion-label>
        <ion-input [(ngModel)]="item.correo2"  type="text" value=""></ion-input>
      </ion-item>
  </ion-item-group>



      <!-- <ion-item>
        <ion-label fixed>Prueba virtual keyboard</ion-label>
      </ion-item>
        <input [(ngModel)]="data.correo" [matKeyboard]="'US International'" type="text" value=""> -->

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-4> <button ion-button large (click)="actionModalCorreoEntregaOk()">OK</button> </ion-col>
            <ion-col col-4> <button ion-button outline large (click)="actionModalCorreoEntregaCancelar()">{{ 'MODAL_MAIL_4' | translate }}</button> </ion-col>
            <ion-col col-4> <button ion-button large (click)="actionModalCorreoAgregarCampo()">+</button> </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


</ion-list>
</ion-content>
