<!--
  Generated template for the ModalFotoFullPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MODAL_PHOTO_FULL_1' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="testigo == 5; else elseBlock">
      <img  src="{{itemAux.miniatura}}"> 
  </div>
   <ng-template #elseBlock>
     <img  src="{{itemCarrito.ref.slider}}">
   </ng-template>


</ion-content>
