panel-carrito {
    // position: absolute;
    // top: 0;
    // right: 0;
    // border: 1px solid red;
    // background: red;

    .btn-carrito{
        margin-left: 5px; 
        margin-right: 5px;
    }

    .btn-carrito.button-ios{
        width: 48%; 
        height: 2.8em;
        margin: 0px 0px;
        font-size: 1.6rem;
        // margin-left: 6px; 
        // margin-right: 6px;
    }
    
    background: map-get($colors , light);
    border: 1px solid #c0bfbf;

    .texto-1{
        padding: 10px 52px;
        text-align: center;
    }
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999999;
    // width: 26%;
    width: 266.5px;
    height: 1000px;
    display: block;
    // background-color: #e2e2e2;
    .fotografia-carrito{
        width:100%;
    }
    .img-metodo-carrito{
        width:50%;
    }
    ion-col p{
        margin-top: 0px;
    }
    .total-txt {
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }

    .fotoSelect{
        border-style: solid;
        border-color:blue;
    }

}
