<!-- Generated template for the PanelCarritoComponent component -->
<div>
  <div class="texto-1">
    {{ 'CART_SELECT' | translate }}
  </div>

  <div *ngIf="carrito.count == 0;else seleccionados">
    <img src="assets/imgs/icons/carrito.png" alt="">
    <p style="text-align:center;">
      {{ 'CART_EMPTY' | translate }}
    </p>
  </div>
  <ng-template #seleccionados>


    <ion-grid style="text-align:center;">
      <ion-row>
        <ion-col col-4>{{ 'CART_COL_1' | translate }}</ion-col>
        <ion-col col-3>{{ 'CART_COL_2' | translate }}</ion-col>
      <!--  <ion-col col-3>{{ 'CART_COL_3' | translate }}</ion-col> -->
      </ion-row>
    </ion-grid>

    <ion-scroll #scroll scrollY="true" scrollX="false" style="height:230px;">
      <div dragScroll style="overflow: scroll;white-space: nowrap; white-space: nowrap; display: block; height: 300px;">
        <ion-grid style="text-align:center;">
              <ion-row *ngFor="let seleccion of carrito.items"  [ngClass]="{'fotoSelect':seleccion.selected == true}">
                  <ion-col  *ngIf="seleccion" col-4>
                    <img class="fotografia-carrito" src="{{seleccion.ref.miniatura}}" (click)="verEnModal(seleccion)" alt="">
                    <ion-badge *ngIf="seleccion.count > 1">{{seleccion.count}}</ion-badge>
                  </ion-col>
                  <ion-col  *ngIf="seleccion" col-3 style="text-align:center;"> <img  class="img-metodo-carrito" src="{{seleccion.metodoImg}}" alt=""></ion-col>
                  <!-- <ion-col  *ngIf="seleccion" col-3> <p>{{seleccion.precio | currency : '' : 'symbol-narrow' : '1.2-2' }}</p></ion-col> -->
                  <ion-col  *ngIf="seleccion" col-2> <img class="" src="assets/imgs/icons/delete.png" alt="" (click)="QuitarUnoCarrito(seleccion)"> </ion-col>
                  <ion-col  *ngIf="seleccion" col-2> 
                    <ion-checkbox [(ngModel)]="seleccion.Bol" (ionChange)="selecFoto(seleccion)"></ion-checkbox>
                 </ion-col>
              </ion-row>
        </ion-grid>
        <button  *ngIf="testigoseleccion" ion-button outline  class="btn-carrito btn-limpiar-carrito"  stle="width:90%;margin-left:10px" (click)="opc()"> Agregar a metodo </button>
      </div>
    </ion-scroll>

    <!-- <ion-item>
        <ion-label>Pago con tarjeta</ion-label>
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </ion-item> -->
    <!-- <ion-item>
        <ion-label>Pago con efectivo</ion-label>
        <ion-checkbox color="primary" checked="true" disabled="true"></ion-checkbox>
    </ion-item> -->
    <!-- <ion-item> -->
    <!-- </ion-item> -->
    <!-- <ion-item> -->
    <ion-list>
      <ion-item (press)="autorizacion()"> 
        <p class="total-txt">Total: {{this.carrito.total | currency : '' : 'symbol-narrow' : '1.2-2' }} </p>
      </ion-item>
      <ion-item (press)="autorizacion()"> 
        <p class="total-txt">Fotos: {{this.carrito.count }} </p>
      </ion-item>
      <ion-item>
        <button ion-button outline  class="btn-carrito btn-limpiar-carrito"  (click)="limpiarCarrito()">{{ 'CART_CLEAR' | translate }}</button>
        <button ion-button (click)="actionPagar()" class="btn-carrito">{{ 'CART_CHECKOUT' | translate }}</button>
      </ion-item>
     <!-- <ion-item>
        <button ion-button (click)="actionPagar()" class="btn-carrito">{{ 'CART_CHECKOUT' | translate }}</button>
      </ion-item> -->
    </ion-list>


  </ng-template>


</div>
