page-galeria {
    .miniaturas{
        width: 180px;
        height: 180px;
        border-radius: 3px;
    }
    .col-miniaturas{
        // border: 1px solid #777777;
    }
    .container-miniaturas{
        width:130%;
    }

    .miniaturaSelect{
      width: 180px;
      height: 180px;
      border-radius: 3px;
      border-radius: 3px;
      border: solid;
      /* border-style: solid; */
      border-color: rgb(0, 131, 55);
      border-width: 10px;
    }

    .miniaturaView{
      width: 180px;
      height: 180px;
      border-radius: 3px;
      border-radius: 3px;
      border: solid;
      /* border-style: solid; */
      border-color: #1368ff;
      border-width: 5px;
      display: block;
    }

    .miniaturaHide{
      width: 180px;
      height: 180px;
      display: none;
    }

}
