<!--
  Generated template for the GaleriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <pedidos-navbar (carritoVaciado)="carritoVaciado($event)" (quitarTodas)="quitarTodas($event)" ></pedidos-navbar>
</ion-header>


<ion-content padding>

<!-- <ion-grid>
  <ion-row> -->
<wrapper-panel-carrito>
  <!-- <div>Estoy en la zona: {{zona.idzona}}</div> -->
  <div class="container-miniaturas">
    <img class="miniaturas" src="assets/imgs/Video-Icon-PNG-Free-Download.png" alt="" (click)="comprarVideo()" >
    <img class="miniaturas" src="assets/imgs/select-512.png" alt="" (click)="comprarTodo()" >
    <img [ngClass]="{'miniaturaSelect':galeria.prese == true, 'miniaturas':galeria.prese != true}"  src="assets/imgs/preselect.png" alt="" (click)="preseleccion()" >
    <span class="col-miniaturas" *ngFor="let item of galeria.miniaturasTest; let i = index" (click)="irAModoPresentacion(i, item) "  (press)="holding(item) ">

        <img [ngClass]="{'miniaturaSelect':item.selected == true, 'miniaturas':item.selected != true}" [src]="item.miniatura" alt="" >


      <!--<span>idzona: {{ item.idzona }} | idfoto: {{ item.idfoto }}</span>-->
      <!-- <div style="width:100%;background:'assets/imgs/{{item.imagen}}'"></div> -->
    </span>
    <img [ngClass]="{'miniaturaView':galeria.prese == true, 'miniaturaHide':galeria.prese != true}"  src="assets/imgs/finish.png" alt="" (click)="irAModoPresentacionPRE(1)" >

  </div>
</wrapper-panel-carrito>
  <!-- </ion-row>
</ion-grid> -->

</ion-content>
