<!--
  Generated template for the ConfiguracionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuraciones v5.0 Coz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <p>Aqui van las configuraciones</p>
  <button ion-button large >Ok</button> -->

  <ion-list>

      <ion-item>
        <ion-label fixed>Url base</ion-label>
        <ion-input type="text" [(ngModel)]="data.ip" value="" placeholder="p/e: http://127.0.0.1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-grid><ion-row>
            <ion-col col-6> <button ion-button (click)="actionCambiar()" full>Ok</button> </ion-col>
            <ion-col col-6> <button ion-button outline (click)="actionCancelar()" full>Cancelar</button> </ion-col>

        </ion-row></ion-grid>

      </ion-item>
    
</ion-list>


</ion-content>
