page-home {
    .grupo-img-mini{
        width: 50%;
        border-radius: 3px;
    }
    .row-minis{
        padding: 35px 35px;

    }
    .panel-lateral{
        width: 252%;
        border: 1px solid blue;
        // display: none;
    }
}
