<ion-header>
  <pedidos-navbar></pedidos-navbar>
</ion-header>

<ion-content padding>

<ion-grid style="flex-direction: row;">
  <ion-row style="flex-grow:2;"> 
<!-- <wrapper-panel-carrito>
  <span> -->
      <ion-col *ngFor="let item of grupos" col-6>
        <ion-row>
            <ion-col style="text-align:center" (click)="irAGaleria()" col-12> 
              <ion-grid >
                <ion-row class="row-minis">
                  <ion-col col-6 *ngFor="let imagenGrupo of item.imagenes">
                    <img class="grupo-img-mini" src="{{imagenGrupo}}" alt="">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col style="text-align:center" col-12> 
              {{item.title}}
            </ion-col>
        </ion-row>
      </ion-col> 
    <!-- </span>
</wrapper-panel-carrito> -->

  </ion-row>
  <div class="panel-lateral"></div>
</ion-grid>

  <panel-carrito></panel-carrito> 

</ion-content>
