<!--
  Generated template for the ModalFotoFullPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MODAL_METODO_ENTREGA_1' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="modal-metodo">
  <ion-grid>
    <ion-row>
        <ion-col *ngFor="let item of metodosEntregaStates"  class="col-img-metodo-entrega" col-2 offset-1>
          <div *ngIf="item.selected; else noselected">
            <img class="img-metodo-entrega" src="{{item.relleno}}" alt="" (click)="agregarAMetodo(item)">
          </div>
          <ng-template #noselected >
            <img  class="img-metodo-entrega" src="{{item.icon}}" alt="" (click)="agregarAMetodo(item)">
          </ng-template>
        </ion-col>
    </ion-row>
    <ion-row align-items-center>
     <ion-col align-self-center	>
        <button ion-button *ngIf="this.galeria.seleccion" (click)="okei()" >modificar</button>
       
        <button ion-button *ngIf="this.galeria.seleccion" (click)="finalizarSeleccion()">Finalizar seleccion</button>
        <button ion-button outline (click)="okei()">cerrar</button>
     
     </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
