<!--
  Generated template for the ModalClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>{{ 'MODAL_CLIENTE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-item>
        <ion-label floating>{{ 'MODAL_CLIENTE_TEXT' | translate }}</ion-label>
        <ion-input [(ngModel)]="data.nombre" type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-select [(ngModel)]="fotografoSelect">
              <ion-option *ngFor="let fotografo of fotografos" value="{{fotografo.usuario}}">{{horarioitem.horario}}</ion-option>
            </ion-select> 
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-content>
