<!--
  Generated template for the ModalDatosTargetaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pago con tarjeta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- titular
  tarjeta
  mes año  ccv 
  correo -->

  <ion-list>

      <ion-item>
        <ion-label fixed>Titular</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>Tarjeta</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>Mes</ion-label>
        <ion-input type="number" value=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>Año</ion-label>
        <ion-input type="number" value=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>CCV</ion-label>
        <ion-input type="number" value=""></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>Correo</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
    
      <ion-item>
        <button ion-button (click)="actionModalPagar()">Pagar</button>
      </ion-item>

      <ion-item>
        <button ion-button outline (click)="actionModalCancelar()">Cancelar</button>
      </ion-item>
    
    </ion-list>

</ion-content>
