<!-- Generated template for the PedidosNavbarComponent component -->
<ion-navbar>
  <ion-title class="pedidos-ion-title">
     <img src="assets/imgs/dolphinarislogo.png" alt=""> 
  </ion-title>

  <ion-buttons end>

    <!-- <button ion-button (click)="switchIdioma()">Cambiar Idioma</button> -->
    <button ion-button (click)="switchIdioma('es')" class="boton-idioma">
      <span class="flag-icon flag-icon-es flag-icon-squared"></span>
    </button>
    <button ion-button (click)="switchIdioma('en')" class="boton-idioma">
      <span class="flag-icon flag-icon-us flag-icon-squared"></span>
    </button>

    <button ion-button icon-only (click)="abrirConfiguraciones()">
      <ion-icon name="cog" ></ion-icon>
    </button>

  </ion-buttons>


</ion-navbar>

<div class="bloque-botones-metodos-entrega">
  <panel-carrito (compraRealizada)="privateEvent($event)" (carritoVaciado)="privateEvent2($event)"></panel-carrito>
  <!-- AQUI SE INSERTA LA BARRA DE METODO DE ENTREGA -->
  <ng-content></ng-content>
</div>
