pedidos-navbar {
    .pedidos-ion-title{
        text-align: center;
        img{
            width: 14%;
        }
    }
    .bloque-botones-metodos-entrega{
        width: 100%;
        position: relative;
        padding-left:7%;
    }
    .boton-idioma{
        font-size: 25px;
    }
}
