<!--
  Generated template for the ModalClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title>{{ 'MODAL_CLIENTE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-item>
        <ion-label floating>{{ 'MODAL_CLIENTE_TEXT' | translate }}</ion-label>
        <ion-input [(ngModel)]="data.nombre" type="text" value=""></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating>Fotografo</ion-label>
          <ion-input [(ngModel)]="fotografo" type="password" value=""></ion-input>
        </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6> <button ion-button large (click)="actionvalidar()">OK</button> </ion-col>
            <ion-col col-6> <button ion-button outline large (click)="actionCancelar()">{{ 'MODAL_MAIL_4' | translate }}</button> </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
</ion-content>
