<!--
  Generated template for the ModalFotoFullPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Price review</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="modal-metodo">
  <ion-grid>
    
    <ion-row>
      
        <ion-item>
            <ion-label >Final</ion-label>
           
            <ion-input type="text" [(ngModel)]="precio" name="title"></ion-input>
        </ion-item>
   </ion-row>     
   <ion-row>
      
      <ion-item>
          <ion-label >Code</ion-label>
          <ion-input type="password" [(ngModel)]="codigo" name="title"></ion-input>
      </ion-item>
 </ion-row> 

   <ion-row>
      <button ion-button (click)="okei()" >Aceptar</button>
   </ion-row>
  </ion-grid>

</ion-content>
