<!--
  Generated template for the PresentacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <pedidos-navbar (compraRealizada)="compraRealizada($event)" (carritoVaciado)="carritoVaciado($event)">
    <!-- <div class="barra-metodo-entrega"> -->
      <ion-grid>
        <ion-row>
          <!-- <ion-col class="col-img-metodo-entrega" col-2><img class="img-metodo-entrega" src="assets/imgs/icons/usb-stroke.png" alt="" (click)="agregarAMetodo('usb')"></ion-col>
          <ion-col class="col-img-metodo-entrega" col-2><img class="img-metodo-entrega" src="assets/imgs/icons/mail-stroke.png" alt="" (click)="agregarAMetodo('mail')"></ion-col>
          <ion-col class="col-img-metodo-entrega" col-2><img class="img-metodo-entrega" src="assets/imgs/icons/impresora-stroke.png" alt="" (click)="agregarAMetodo('impresora')"></ion-col>
          <ion-col class="col-img-metodo-entrega" col-2><img class="img-metodo-entrega" src="assets/imgs/icons/cd-stroke.png" alt="" (click)="agregarAMetodo('cd')"></ion-col> -->
            <ion-col *ngFor="let item of metodosEntregaStates"  class="col-img-metodo-entrega" col-3>
              <div *ngIf="item.selected; else noselected">
                <img class="img-metodo-entrega" src="{{item.relleno}}" alt="" (click)="agregarAMetodo(item)">
              </div>
              <ng-template #noselected >
                <img  class="img-metodo-entrega" src="{{item.icon}}" alt="" (click)="agregarAMetodo(item)">
              </ng-template>
            </ion-col>
        </ion-row>
      </ion-grid>
    <!-- </div> -->
  </pedidos-navbar>

</ion-header>

<ion-content padding style="padding-right:0px;" id="presentacionContent">
  <!-- <p>Modo presentacion</p> -->


<wrapper-panel-carrito>

<ion-grid style="flex-direction: row;margin-left:0px;margin-right:0px;">
  <ion-row style="flex-grow:2;">
    <ion-col col-12 style="display:flex;height:300px;justify-content: center;margin-top: 0%;" (press)="quitarwm()">
        <ion-slides style="flex-grow:2;" (ionSlideDidChange)="slideChanged()">
            <ion-slide  *ngFor="let item of galeria.miniaturasTest" >
              <img  *ngIf="testigowm" style="z-index: 200000 ; position: absolute;  width: 80%; height: 32%; top: 32%" src="assets/imgs/wm.png" alt="">
              <img class="slider"  src="{{item.slider}}" alt="">
              <!-- <h1 style="color:red;">{{fotoS.texto}}</h1> 430-->
            </ion-slide>
        </ion-slides>
    </ion-col>

      <ion-scroll #scroll class="miniaturas-scroll" id="ion-miniaturas-scroll" scrollX="true" scrollY="true" >
          <div class="span-miniaturas" dragScroll >
            <img class="miniaturas"  *ngFor="let item of galeria.miniaturasTest;  let i = index" [ngStyle]="{'border': i == slides.getActiveIndex() ? '3px solid #007aff' : 'none', 'border-radius' : '3px' }" src="{{item.miniatura}}" alt="" (click)="scrollearPresentacion(i)">
            <img class="miniaturas" src="assets/imgs/Video-Icon-PNG-Free-Download.png" alt="" (click)="comprarVideo()" >
            <img [ngClass]="{'miniaturas':galeria.prese == true, 'miniaturasHide':galeria.prese != true}" src="assets/imgs/select-512.png" alt="" (click)="comprarTodo()" >  
          </div>

      </ion-scroll>

  </ion-row>
</ion-grid>
</wrapper-panel-carrito>

</ion-content>
