page-presentacion {
    .span-miniaturas{

    }
    #presentacionContent .scroll-content{
        padding-right: 0px;

    }

    #ion-miniaturas-scroll .scroll-content{
        padding-left: 0px;
        padding-right: 0px;
    }

    .miniaturas{
        width: 70px;
        height: 70px;
    }
    .miniaturasHide{
        width: 70px;
        height: 70px;
        display: none;
    }
    .slider{
        width: 65%;
        height: 65%;
       
    }
    .miniaturas-scroll{
        height:120px;
        width:3000%;
        overflow: scroll;
        white-space: nowrap
    }

    .panel-lateral{
        // width: 200px;
        width: 340.5px;
        // border: 1px solid blue;
    }

    // .panel-lateral{
    //     width: 20%;
    // }
    ion-slides{
        width: 300px;
        // margin-top: 100px;
    }
    .barra-metodo-entrega{
        height: 50px;
        background: #e2e2e2;
        // position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
    }
    .img-metodo-entrega{
        width: 18%;

    }
    .col-img-metodo-entrega{
        text-align:center;
    }
    .ion-content .scroll-content{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
    }
    ion-content{
        // margin-top: 200px !important;
    }
    ion-slides{
        // width: 85vh;
        // width:100%;
    }
    ion-slide{
        // width: 600px;
    }
}
