<!-- Generated template for the WrapperPanelCarritoComponent component -->
<!-- <div>
  {{text}}
</div> -->
<div class="div-wrapper" >

        <!-- 
          todo lo que esta entre las etiquetas 
            wrapper-panel-carrito 
          se sustituye por ng-content 
        -->
          <ng-content></ng-content>

    <div class="panel-lateral"></div>

</div>